<header>
  <nav class="navbar">
    <div class="control-logo">
      <img
        class="logo-img"
        src="assets/logo-bc.png"
        alt="Logo BC"
        draggable="false"
      />
    </div>
    <div class="nav-items">
      <ng-container *ngFor="let element of headerRoutes">
        <a
          [routerLinkActive]="'active-route'"
          [routerLink]="element.route"
          class="router-name"
          >{{ element.name }}</a
        >
      </ng-container>
    </div>
  </nav>
</header>
