<footer>
  <mat-divider class="mat-divider"></mat-divider>
  <div class="footer-container">
    <div class="contact-icons">
      <a
        href="https://www.linkedin.com/in/bruno-c%C3%A9sar-659045206/"
        target="_blank"
      >
        <img
          class="logo-linkedin"
          src="assets/icon-linkedin.svg"
          alt="Ícone Github"
        />
      </a>
      <a href="https://github.com/Bruno-Ces4r" target="_blank">
        <img
          class="logo-github"
          src="assets/icon-github.svg"
          alt="Ícone Github"
        />
      </a>
    </div>

    <div class="made-by">
      <p>© 2023 by Bruno César | Made with Angular and Figma</p>
    </div>
  </div>
</footer>
